# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# Editor
.vscode/
.idea/
*.swp

# Folders starting with "save" anywhere in the project
**/save*/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version
